# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [5]:
import pandas as pd

**pandas series form list**

In [3]:
age = list(range(40,50))
age

[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [4]:
pd.Series(age)

0    40
1    41
2    42
3    43
4    44
5    45
6    46
7    47
8    48
9    49
dtype: int64

**pandas Series from tuple**

In [5]:
names = ('priya','shri','shriya')
names

('priya', 'shri', 'shriya')

In [7]:
pd.Series(names)

0     priya
1      shri
2    shriya
dtype: object

**pandas series from array**

In [28]:
import numpy as np                          # pandas sereis from array

In [10]:
arr = np.random.randint(20000,40000,20)  
arr

array([39390, 36592, 32305, 39206, 24387, 24895, 33750, 33344, 39676,
       21740, 21847, 29085, 38777, 30498, 23092, 34363, 33298, 34758,
       25044, 23965])

In [11]:
pd.Series(arr)

0     39390
1     36592
2     32305
3     39206
4     24387
5     24895
6     33750
7     33344
8     39676
9     21740
10    21847
11    29085
12    38777
13    30498
14    23092
15    34363
16    33298
17    34758
18    25044
19    23965
dtype: int32

In [13]:
a = pd.Series(arr,index = list(range(1,21)))
a

1     39390
2     36592
3     32305
4     39206
5     24387
6     24895
7     33750
8     33344
9     39676
10    21740
11    21847
12    29085
13    38777
14    30498
15    23092
16    34363
17    33298
18    34758
19    25044
20    23965
dtype: int32

**padas series from dictionary**

In [14]:
students = {'A': 'shri','B':'shriya','C':'priya'}
students

{'A': 'shri', 'B': 'shriya', 'C': 'priya'}

In [15]:
pd.Series(students)

A      shri
B    shriya
C     priya
dtype: object

#### Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [4]:
lst =[10,30,40,1,3,6,14,18,23]

lst =pd.Series(lst,index = list(range(100,109)),dtype = 'int8')
lst

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8

In [9]:
lst.head()

100    10
101    30
102    40
103     1
104     3
dtype: int8

In [11]:
lst.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int8

In [26]:
lst.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int8
dtypes: int8(1)
memory usage: 81.0 bytes

In [18]:
lst.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [20]:
lst.ndim

1

In [21]:
lst.size

9

In [23]:
lst.items

<bound method Series.items of 100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8>

In [25]:
lst.nbytes

9

#### create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [29]:
salaries = np.random.randint(30000,90000,30)
sal1 = pd.Series(salaries)
sal1.

0     30616
1     56240
2     81785
3     63145
4     31254
5     33420
6     71224
7     53569
8     76200
9     69165
10    53826
11    34773
12    88809
13    76978
14    62150
15    37422
16    66354
17    71424
18    69610
19    88690
20    37922
21    44774
22    62370
23    72841
24    49224
25    48623
26    51008
27    38305
28    48212
29    87286
dtype: int32

In [30]:
sal1.mean()

58573.96666666667

In [32]:
sal1.median()

59195.0

In [34]:
sal1.mode()

0     30616
1     31254
2     33420
3     34773
4     37422
5     37922
6     38305
7     44774
8     48212
9     48623
10    49224
11    51008
12    53569
13    53826
14    56240
15    62150
16    62370
17    63145
18    66354
19    69165
20    69610
21    71224
22    71424
23    72841
24    76200
25    76978
26    81785
27    87286
28    88690
29    88809
dtype: int32

In [35]:
sal1.max()

88809

In [36]:
sal1.mean()

58573.96666666667

In [37]:
sal1.var()

321084323.2057471

In [38]:
sal1.std()

17918.82594384317

In [39]:
sal1.quantile(0.25)

45633.5

In [40]:
sal1.quantile(0.75)

71374.0

#### What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

array --- is not index based
pandas series ----- it is index based.

In [2]:
import numpy as np

In [10]:
salaries = np.random.randint(4500,80000,20)
salaries

array([33429, 48302, 56440,  6867,  6637, 77205, 49010, 74118, 14134,
       56879, 41759, 19902, 74211, 66281, 41376, 32004, 69992, 39402,
       69412, 19901])

In [11]:
sal = pd.Series(salaries)
sal

0     33429
1     48302
2     56440
3      6867
4      6637
5     77205
6     49010
7     74118
8     14134
9     56879
10    41759
11    19902
12    74211
13    66281
14    41376
15    32004
16    69992
17    39402
18    69412
19    19901
dtype: int32

#### 5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [14]:
ser1 = list(range(100,150))
ser2 = pd.Series(ser1)
ser2

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [15]:
ser2[0]

100

In [16]:
ser2[0:4]

0    100
1    101
2    102
3    103
dtype: int64