1. **Basic List Comprehension:**
   Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2. **Filtering with List Comprehension:**
   Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3. **String Manipulation with List Comprehension:**
   Given a list of strings, create a new list using list comprehension that contains the lengths of each string.


4. **List Comprehension with Conditionals:**
   Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers 


5. **Pattern Printing**

    Write a Python program that takes an integer 'n' as input and prints the following pattern:

    For `n = 4`, the pattern should look like this:

    ```
    1
    1 2
    1 2 3
    1 2 3 4
    ```

6. **Multiplication Table**

      Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if `n = 5`, the output should be:

    ```
    5 x 1 = 5
    5 x 2 = 10
    5 x 3 = 15
    5 x 4 = 20
    5 x 5 = 25
    5 x 6 = 30
    5 x 7 = 35
    5 x 8 = 40
    5 x 9 = 45
    5 x 10 = 50
    ```

7. **Star Patterns**

    Write a Python program that takes an integer 'n' as input and prints the following patterns:

    a) Right-angled triangle pattern:
    ```
    *
    **
    ***
    ****
    *****
    ```

    b) Inverted right-angled triangle pattern:
    ```
    *****
    ****
    ***
    **
    *
    ```


8. **Number Pyramid**

    Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

    For `n = 4`, the output should be:

    ```
       1
      212
     32123
    4321234
    ```

#### Task 1. Basic list comprehension

In [1]:
[i** 3 for i in range(0,10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

#### Task 2. filtering with list comprehension

In [4]:
list1 = [3,4,5,6,9,10,12,15,20]

In [5]:
[ i for i in list1 if i % 3 == 0 or i % 5 ==0]

[3, 5, 6, 9, 10, 12, 15, 20]

#### Task 3. string manipulation with list comprehension

In [34]:
list1 = ["Hello","welcome","hi","how are you"]

In [35]:
len_str = [len(i) for i in list1]
len_str

[5, 7, 2, 11]

#### Task 4. list comprehension with conditional

In [35]:
list1 =[2,4,6,7,8,9,10,11,12]

In [36]:
[i ** 2 for i in list1 if i % 2 == 0 ]

[4, 16, 36, 64, 100, 144]

#### Task. 5 pattern printing

In [20]:
n = 4
for i in range(1,n+1):
    print("\n")
    for j in range(1, i+1):
        print(j, end =' ')

1

1 2

1 2 3

1 2 3 4

#### Task 6. Multiplication Table

In [14]:
n = 5
for i in range(1,11):
        print(f"{n} x {i} = {n * i}")
        print('\t')

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

#### Task. 7. star pattern

In [ ]:
#Right angled tringle pattern

In [38]:
n = 6
for i in range(1,n):
    print("*" * i)

*
**
***
****
*****

b) Inverted right-angled triangle pattern:

In [39]:
for i in range(n,0,-1):     #
    print("*" * i )

******
*****
****
***
**
*

#### Task 8. Number pyramid

Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

For n = 4, the output should be:

In [3]:
n = 4

for i in range (1,n+1):
    for j in range (n,i,-1):
        print(' ',end = '')
        
    for j in range(i,0,-1):
        print(j,end = '')
        
    for j in range (2,i+1):
        print(j,end='')
        
    print()

   1
  212
 32123
4321234