
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

 Create a lambda function that takes two arguments and returns their sum.
Create another lambda function that takes a single argument and returns its square.
Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [2]:
s = lambda a,b: a+b    #takes 2 argument and return sum
s(2,3)

5

In [3]:
s = lambda a : a**2    #take single arg. returns square
s(2)

4

In [16]:
s = lambda *n : sum(n)  #sum of various numbers

In [17]:
s(2,4,5,6)

17

In [22]:
s = lambda n : n**2   #

In [24]:
s(2)

4

#### 2.

In [30]:
list1 = [1,2,3,4,7,8,12,14,16]     #define a list of integer

In [32]:
 list(filter(lambda n: n%2 == 0,list1))  #new list containing only even numbers

[2, 4, 8, 12, 14, 16]

In [33]:
list(filter(lambda n: n>10, list1))  #new list containing number greater than 10

[12, 14, 16]

### 3.
Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
Use the map function to convert each string to an integer and store the result in a new list.
Use the map function again to square each integer in the new list and store the result in another new list.
Print both new lists.

In [7]:
list1 = ["1","2","3","4","5"]

In [8]:
def num1(n):
    return int(n)

In [14]:
list1 = ["1","2","3","4","5"]

list(map(num1,list1))

[1, 2, 3, 4, 5]

In [25]:
list1 = [1,2,3,4,5]
def num2(n):
    return n**2

In [26]:
list(map(num2,list1))

[1, 4, 9, 16, 25]

### 4.

Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example:  [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
Use the filter function to create a new list that contains only the people who are older than 25.
Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.

In [31]:
people = [{"name":"priya", "age":28} ,{"name":"riya","age": 24},{"name":"shri","age":26}]

In [35]:
older_than_25 = list(filter(lambda person : person["age"]> 25,people))
print(older_than_25)

[{'name': 'priya', 'age': 28}, {'name': 'shri', 'age': 26}]

In [39]:
filterd_names = list(map(lambda person: person["name"],older_than_25))
print(filterd_names)

['priya', 'shri']

#### 5.

create a program that reads a list of numbers from the user (you can use the input function for this).
Use map and filter functions to perform the following operations:
Square each number.
Filter out numbers that are not divisible by 3.

In [8]:
def sqr(n):
    return n**2

In [9]:
list1 = [2,4,6,8]

In [10]:
list(map(sqr,list1))

[4, 16, 36, 64]

In [12]:
list(filter(lambda n:n%3 != 0, list1))

[2, 4, 8]

In [ ]:
#take combination of integers,float and string.print only float values.
#print only strings.
#replace int value with a name is called integer, float with a name is called float...

In [ ]:
list1 = [1,4,0.4,"hello",6,"hii"]

In [40]:
list(filter(lambda x: type(x)== float,[1,4,0.4,"hello",6,"hii"]))

[0.4]

In [41]:
def flo(n):
    if type(n)== float:
        return n

In [42]:
list1 = [1,4,0.4,"hello",6,"hii"]

In [43]:
list(filter(flo,list1))

[0.4]

In [44]:
def flo(n):
    if type(n)== str:    #2nd
        return n

In [45]:
list(filter(flo,list1))

['hello', 'hii']

In [46]:
list1 = [1,4,0.4,"hello",6,"hii"]

In [47]:
def fun(n):
    if type(n) == float:
        return "float"     #3rd
    elif type(n) == str:
        return "string"
    else:
        return "intiger"

In [48]:
list(map(fun,list1))

['intiger', 'intiger', 'float', 'string', 'intiger', 'string']